{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $secureJS := slice $main $menu $prism | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        {{ if hasPrefix $val "http" }}
            <script src="{{ $val | safeURL }}"></script>
        {{ else }}
            <script src="{{ $val | relLangURL }}"></script>
        {{ end }}
    {{ end }}
{{ end }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    const languageToggle = document.querySelector('.language-toggle');
    if (languageToggle) {
        languageToggle.addEventListener('click', function() {
            const currentLang = document.documentElement.lang || 'fr'; // Default to French if not set
            const newLang = currentLang === 'fr' ? 'en' : 'fr';
            
            // Get the current path
            let path = window.location.pathname;
            
            // Handle language switch based on your URL structure
            if (currentLang === 'fr') {
                // Switching from French to English
                path = '/en' + path;
            } else {
                // Switching from English to French
                path = path.replace(/^\/en/, '');
            }
            
            // Navigate to the new URL
            window.location.href = path;
        });
    }
});

</script>

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
    const settings = localStorage.getItem("theme") === "dark" ?
        {
            startOnLoad: true,
            theme: "dark",
            darkMode: true,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
        :
        {
            startOnLoad: true,
            theme: "base",
            darkMode: false,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
    ;
    mermaid.initialize(settings);
</script>
{{ end }}