{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $languageToggle := resources.Get "js/language-toggle.js" }}
{{ $secureJS := slice $main $menu $prism $languageToggle | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        {{ $customJS := resources.Get $val | minify | fingerprint }}
        <script src="{{ $customJS.RelPermalink }}" integrity="{{ $customJS.Data.Integrity }}" defer></script>
    {{ end }}
{{ end }}

{{ if .Page.Store.Get "hasMermaid" }}
    {{ $mermaid := resources.Get "js/mermaid.min.js" | fingerprint }}
    <script type="module" src="{{ $mermaid.RelPermalink }}" integrity="{{ $mermaid.Data.Integrity }}" defer></script>
    <script type="module">
        import mermaid from "{{ $mermaid.RelPermalink }}";
    const settings = localStorage.getItem("theme") === "dark" ?
        {
            startOnLoad: true,
            theme: "dark",
            darkMode: true,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
        :
        {
            startOnLoad: true,
            theme: "base",
            darkMode: false,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
    ;
    mermaid.initialize(settings);
</script>
{{ end }}