{{ $main := resources.Get "js/main.js" }}
{{ $menu := resources.Get "js/menu.js" }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $secureJS := slice $main $menu $prism | resources.Concat "bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.RelPermalink }}" integrity="{{ $secureJS.Data.Integrity }}" defer></script>

{{ range $val := $.Site.Params.customJS }}
    {{ if gt (len $val) 0 }}
        <script src="{{ $val }}" defer></script>
    {{ end }}
{{ end }}

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Theme Toggle Logic
    const themeToggle = document.querySelector('.theme-toggle');
    
    if (themeToggle) {
        themeToggle.addEventListener('click', function() {
            document.body.classList.toggle('dark-mode');
            document.body.classList.toggle('light-mode');

            const isDarkMode = document.body.classList.contains('dark-mode');
            localStorage.setItem('theme', isDarkMode ? 'dark' : 'light');
        });
    }

    // Apply the saved theme on page load
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
        document.body.classList.add(savedTheme === 'dark' ? 'dark-mode' : 'light-mode');
    } else {
        document.body.classList.add('light-mode');
    }
});
</script>

{{ if .Page.Store.Get "hasMermaid" }}
<script type="module">
    import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
    const settings = localStorage.getItem("theme") === "dark" ?
        {
            startOnLoad: true,
            theme: "dark",
            darkMode: true,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
        :
        {
            startOnLoad: true,
            theme: "base",
            darkMode: false,
            themeVariables: {
                tertiaryColor: "#dee3ed"
            }
        }
    ;
    mermaid.initialize(settings);
</script>
{{ end }}