<div class="image-gallery-container">
  <!-- Language Selector -->
  <div class="language-selector">
      <button class="filter-btn" data-language="all">All</button>
      <button class="filter-btn" data-language="FRA">FRA</button>
      <button class="filter-btn" data-language="ENG">ENG</button>
      <button class="filter-btn" data-language="ESP">ESP</button>
      <button class="filter-btn" data-language="JPN">JPN</button>
      <button class="filter-btn" data-language="ITA">ITA</button>
      <button class="filter-btn" data-language="GER">GER</button>
      <button class="filter-btn" data-language="POR">BRE</button>
      <button class="filter-btn" data-language="RUS">RUS</button>
      <button class="filter-btn" data-language="CRO">CRO</button>
      <button class="filter-btn" data-language="GRE">GRE</button>
  </div>

  <!-- Gallery Grid -->
  <div class="image-gallery-grid">
    {{ $images := .Get "images" | transform.Unmarshal }}
    {{ range $image := $images }}
    <div class="image-item" data-language="{{ $image.language }}">
        <img src="{{ $image.src }}" alt="{{ $image.alt }}">
    </div>
    {{ end }}
</div>
</div>



<script>
document.addEventListener('DOMContentLoaded', function () {
  const filterButtons = document.querySelectorAll('.filter-btn');
  const imageItems = document.querySelectorAll('.image-item');

  filterButtons.forEach(button => {
      button.addEventListener('click', () => {
          const language = button.getAttribute('data-language');

          imageItems.forEach(item => {
              const itemLanguage = item.getAttribute('data-language');

              if (language === 'all' || language === itemLanguage) {
                  item.style.display = 'block';
              } else {
                  item.style.display = 'none';
              }
          });
      });
  });
});
</script>
