{{ $mail := printf "%s" (.Get "mailto" )  }}


{{ $randomWords := slice "z" "y" "h" "a" "j" "k" "m" "wx" "me" "us" "up" "so" "by" "if" "it" "at" "dm" "an" "be" "do" "bag" "bat" "bit" "bet" "bun" "bus" "but" "dot" "duh" "hix" "dig" "dim" "zen" "did" "fit" "fan" "fin" }}
{{ $randomWordsShuffle := shuffle $randomWords }}
{{ $randomWord1 := index $randomWordsShuffle 0 }}
{{ $randomWord2 := index $randomWordsShuffle 1 }}
{{ $randomWord3 := index $randomWordsShuffle 2 }}


{{ $currentDayNonce := now | time.Format "2006-01-02" | md5 }}

{{ $seed := now.UnixNano  }}

{{ $randomId := (print (mod (add (mul 13 $seed) 97) 4000000) "_" $mail "_" $randomWord1 "_" $randomWord2 "_" $randomWord3 ) | md5 }}


{{ $randomPosition := index (shuffle (seq (sub (len $mail) 1))) 0 }}


{{ $mailLabel := print (substr $mail 0 $randomPosition ) "<span id=\"mo_" $randomId "\">" $randomWord1 "" $randomWord2 "" $randomWord3 "</span>" (substr $mail $randomPosition (sub (len $mail) 1) ) | base64Encode }}


{{ $base64Mail := $mail | base64Encode }}

<style nonce="{{ $currentDayNonce }}">span#mo_{{ $randomId }} { display:none; }</style>
<a href='#'
   id="ma_{{ $randomId }}"
   data-contact='{{ $base64Mail }}'
   target='_blank' rel="nofollow">
    <script nonce="{{ $currentDayNonce }}">
      (function () {
        document.write(atob('{{ $mailLabel }}'))
        const elem = document.getElementById('ma_{{ $randomId }}')
        elem.addEventListener('focusin', () => {
          elem.href = 'mailto:' + atob(elem.dataset.contact);
        });
      })()</script>
</a>